<div class="animated fadeIn">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<span class="header-caption">Staff Details #{{selectedId}}</span>
					<div [hidden]="!isLoading" class="spinner-border text-primary" role="status">
						<span class="sr-only">Loading...</span>
					</div>
					<div class="card-header-actions">
						<app-toolbar-details (onItemClicked)="onOptionItemClicked($event)" [form]="editForm">
						</app-toolbar-details>
					</div>
				</div>

				<div class="card-body">
					<app-display-alert></app-display-alert>
					<app-modal-loader></app-modal-loader>
					<form [formGroup]="editForm" (ngSubmit)="onSave()">
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="Salutation">Salutation</label>
							<div class="col-md-10">
								<input class="form-control" id="Salutation" type="text" placeholder="Salutation"
									formControlName="Salutation"
									[ngClass]="{'is-invalid': (editForm.get('Salutation').touched || editForm.get('Salutation').dirty) && !editForm.get('Salutation').valid }" />
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('Salutation').errors?.required">
										Salutation Required.
									</span>
									<span *ngIf="editForm.get('Salutation').errors?.maxlength">
										Salutation must not be longer than 10 characters.
									</span>
								</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="Name">Name</label>
							<div class="col-md-10">
								<input class="form-control" id="Name" type="text" placeholder="Name"
									formControlName="Name"
									[ngClass]="{'is-invalid': (editForm.get('Name').touched || editForm.get('Name').dirty) && !editForm.get('Name').valid }" />
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('Name').errors?.required">
										Name Required.
									</span>
									<span *ngIf="editForm.get('Name').errors?.maxlength">
										Name must not be longer than 50 characters.
									</span>
								</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="Code">Code</label>
							<div class="col-md-10">
								<input class="form-control" id="Code" type="text" placeholder="Code"
									formControlName="Code"
									[ngClass]="{'is-invalid': (editForm.get('Code').touched || editForm.get('Code').dirty) && !editForm.get('Code').valid }" />
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('Code').errors?.required">
										Code Required.
									</span>
									<span *ngIf="editForm.get('Code').errors?.maxlength">
										Code must not be longer than 20 characters.
									</span>
								</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="DateOfBirth">DateOfBirth</label>
							<div class="col-md-10">

								<input type="text"
								id="DateOfBirth"
								placeholder="Datepicker"
								class="form-control"
								formControlName="DateOfBirth"
								[bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
								bsDatepicker
								[ngClass]="{'is-invalid': (editForm.get('DateOfBirth').touched || editForm.get('DateOfBirth').dirty) && !editForm.get('DateOfBirth').valid }">


							 						<span class="invalid-feedback">
									<span *ngIf="editForm.get('DateOfBirth').errors?.required">
										DateOfBirth Required.
									</span>
									<span *ngIf="editForm.get('DateOfBirth').errors?.maxlength">
										DateOfBirth must not be longer than 0 characters.
									</span>
								</span>
							</div>
						</div>
						 
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="Gender">Gender</label>
							<div class="col-md-10">
								<select id="Gender" formControlName="Gender" class="form-control"
									[ngClass]="{'is-invalid': (editForm.get('Gender').touched || editForm.get('Gender').dirty) && !editForm.get('Gender').valid }">
									<option value=""></option>
									<option *ngFor="let obj of GenderList" value="{{obj.Value}}">{{obj.Text}}</option>
								</select>
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('Gender').errors?.required">
										Gender Required.
									</span>
									<span *ngIf="editForm.get('Gender').errors?.maxlength">
										Gender must not be longer than 1 characters.
									</span>
								</span>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="EmailID">EmailID</label>
							<div class="col-md-10">
								<input class="form-control" id="EmailID" type="text" placeholder="EmailID"
									formControlName="EmailID"
									[ngClass]="{'is-invalid': (editForm.get('EmailID').touched || editForm.get('EmailID').dirty) && !editForm.get('EmailID').valid }" />
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('EmailID').errors?.required">
										EmailID Required.
									</span>
									<span *ngIf="editForm.get('EmailID').errors?.maxlength">
										EmailID must not be longer than 50 characters.
									</span>
								</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="Mobile">Mobile</label>
							<div class="col-md-10">
								<input class="form-control" id="Mobile" type="text" placeholder="Mobile"
									formControlName="Mobile"
									[ngClass]="{'is-invalid': (editForm.get('Mobile').touched || editForm.get('Mobile').dirty) && !editForm.get('Mobile').valid }" />
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('Mobile').errors?.required">
										Mobile Required.
									</span>
									<span *ngIf="editForm.get('Mobile').errors?.maxlength">
										Mobile must not be longer than 10 characters.
									</span>
								</span>
							</div>
						</div>


						<div class="form-group row">
							<label class="col-md-3 col-form-label">IsDeleted</label>
							<div class="col-md-9 col-form-label">
								<div class="form-check form-check-inline mr-1">
									<input class="form-check-input" type="checkbox" id="IsDeleted" value="option1"
										formControlName="IsDeleted"
										[ngClass]="{'is-invalid': (editForm.get('IsDeleted').touched || editForm.get('IsDeleted').dirty) && !editForm.get('IsDeleted').valid }">
									<label class="form-check-label" for="IsDeleted">IsDeleted</label>
								</div>
							</div>
						</div>


						<div class="form-group row">
							<label class="col-md-3 col-form-label">IsTeacher</label>
							<div class="col-md-9 col-form-label">
								<div class="form-check form-check-inline mr-1">
									<input class="form-check-input" type="checkbox" id="IsTeacher" value="IsTeacher"
										formControlName="IsTeacher"
										[ngClass]="{'is-invalid': (editForm.get('IsTeacher').touched || editForm.get('IsTeacher').dirty) && !editForm.get('IsTeacher').valid }">
									<label class="form-check-label" for="IsTeacher">IsTeacher</label>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<label class="col-md-3 col-form-label">IsAdmin</label>
							<div class="col-md-9 col-form-label">
								<div class="form-check form-check-inline mr-1">
									<input class="form-check-input" type="checkbox" id="IsAdmin" value="IsAdmin"
										formControlName="IsAdmin"
										[ngClass]="{'is-invalid': (editForm.get('IsAdmin').touched || editForm.get('IsAdmin').dirty) && !editForm.get('IsAdmin').valid }">
									<label class="form-check-label" for="IsAdmin">IsAdmin</label>
								</div>
							</div>
						</div>


						<div class="form-group row">
							<label class="col-md-3 col-form-label"></label>
							<div class="col-md-9 col-form-label">
								<button type="button" class="btn btn-sm btn-info" (click)="UpdateStaffLogin()">Update Login</button> 
							</div>
						</div>
 

					</form>
				</div>
			</div>
		</div>
	</div>
</div>