<div class="animated fadeIn">
	<div class="row">
		<div class="col-sm-12">
			<div class="card">
				<div class="card-header">
					<span class="header-caption">Period Details #{{selectedId}}</span>
					<div [hidden]="!isLoading" class="spinner-border text-primary" role="status">
						<span class="sr-only">Loading...</span>
					</div>
					<div class="card-header-actions">
						<app-toolbar-details (onItemClicked)="onOptionItemClicked($event)" [form]="editForm">
						</app-toolbar-details>
					</div>
				</div>

				<div class="card-body">

					<app-display-alert></app-display-alert>
					<app-modal-loader></app-modal-loader>
					<form [formGroup]="editForm" (ngSubmit)="onSave()">

						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="Name">Name</label>
							<div class="col-md-10">
								<input class="form-control" id="Name" type="text" placeholder="Name"
									formControlName="Name"
									[ngClass]="{'is-invalid': (editForm.get('Name').touched || editForm.get('Name').dirty) && !editForm.get('Name').valid }" />
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('Name').errors?.required">
										Name Required.
									</span>
									<span *ngIf="editForm.get('Name').errors?.maxlength">
										Name must not be longer than 50 characters.
									</span>
								</span>
							</div>
						</div>
						<!-- <div class="form-group row">
							<label class="col-md-2 col-form-label" for="ClassCode">ClassCode</label>
							<div class="col-md-10"> 
								
								<select id="ClassCode" formControlName="ClassCode" class="form-control"
									[ngClass]="{'is-invalid': (editForm.get('ClassCode').touched || editForm.get('ClassCode').dirty) && !editForm.get('ClassCode').valid }">
									<option value=""></option>
									<option *ngFor="let obj of Classes" value="{{obj.Value}}">{{obj.Text}}</option>
  
								</select>
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('ClassCode').errors?.required">
										ClassCode Required.
									</span>
									<span *ngIf="editForm.get('ClassCode').errors?.maxlength">
										ClassCode must not be longer than 20 characters.
									</span>
								</span>
							</div>
						</div>  -->
						

						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="SchoolCode">SchoolCode</label>
							<div class="col-md-10">
								<input class="form-control" id="SchoolCode" type="text" placeholder="SchoolCode"
									formControlName="SchoolCode"
									[ngClass]="{'is-invalid': (editForm.get('SchoolCode').touched || editForm.get('SchoolCode').dirty) && !editForm.get('SchoolCode').valid }" />
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('SchoolCode').errors?.required">
										SchoolCode Required.
									</span>
									<span *ngIf="editForm.get('SchoolCode').errors?.maxlength">
										SchoolCode must not be longer than 20 characters.
									</span>
								</span>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-2 col-form-label" for="Description">Description</label>
							<div class="col-md-10">
								<textarea class="form-control" id="Description" type="text" placeholder="Description"
									formControlName="Description" rows="9"
									[ngClass]="{'is-invalid': (editForm.get('Description').touched || editForm.get('Description').dirty) && !editForm.get('Description').valid }"> </textarea>
								<span class="invalid-feedback">
									<span *ngIf="editForm.get('Description').errors?.required">
										Description Required.
									</span>
									<span *ngIf="editForm.get('Description').errors?.maxlength">
										Description must not be longer than 10 characters.
									</span>
								</span>
							</div>
						</div>


					</form>
				</div>
			</div>
		</div>
	</div>
</div>